.cardContainer {
  position: relative;
  height: 250px;
  margin: 20px auto;
  margin-bottom: 0;
  width: 90%;
}

.card {
  padding: 51.5px 5%;
  position: absolute;
  width: 90%;
  opacity: 1;
}

.card:hover {
  opacity: 0;
}

.cardContainer .card h2 {
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 130px;
  margin: 0 auto;
  width: 80%;
}

.cardOverlay {
  opacity: 0;
  padding: 25px 5% 15px 5%;
  height: 210px;
  position: absolute;
  width: 90%;
}

.cardOverlay:hover {
  background-color: rgba(74, 74, 74, 0.9);
  opacity: 1;
}

.cardOverlayContent {
  color: white;
  margin: 0 5% 20px 5%;
}

.cardOverlayTitle {
  font-size: 42px;
  margin-bottom: 0;
}

.cardOverlayTagline {
  font-size: 18px;
  margin-top: 0;
}

.cardOverlayDesc {
  font-size: 16px;
  margin-top: 0;
}

.cardOverlayTech {
  font-size: 16px;
  font-weight: bold;
  margin-top: 0;
}

.jsDatesBg {
  background: #3CA55C;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #B5AC49, #3CA55C);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #B5AC49, #3CA55C);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.beltbookBg {
  background: #DA22FF;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #9733EE, #DA22FF);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #9733EE, #DA22FF);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@media (max-width: 1024px) {
  .cardContainer {
    height: 200px;
  }

  .card {
    padding: 47.5px 5%;
  }

  .cardContainer .card h2 {
    font-size: 92px;
  }

  .cardOverlay {
    padding: 42px 5% 38px 5%;
    height: 120px;
  }

  .cardOverlayTitle {
    font-size: 38px;
  }

  .cardOverlayTagline {
    font-size: 22px;
  }

  .cardOverlayDesc {
    display: none;
  }

  .cardOverlayTech {
    font-size: 14px;
  }
}
@media (max-width: 720px) {
  .cardContainer {
    height: 180px;
  }

  .card {
    padding: 54px 5%;
  }

  .cardContainer .card h2 {
    font-size: 64px;
  }

  .cardOverlay {
    padding: 42px 5% 38px 5%;
    height: 100px;
  }

  .cardOverlayTitle {
    font-size: 32px;
  }

  .cardOverlayTagline {
    font-size: 18px;
  }

  .cardOverlayDesc {
    display: none;
  }

  .cardOverlayTech {
    font-size: 14px;
  }
}
@media (max-width: 500px) {
  .cardContainer {
    height: 100px;
  }

  .card {
    padding: 29.5px 5%;
  }

  .cardContainer .card h2 {
    font-size: 36px;
  }

  .cardOverlay {
    padding: 17px 5% 3px 5%;
    height: 80px;
    margin-top: 0;
  }

  .cardOverlayContent {
    margin: 0 5% 5px 5%;
  }

  .cardOverlayTitle {
    font-size: 18px;
  }

  .cardOverlayTagline {
    font-size: 14px;
  }

  .cardOverlayDesc {
    display: none;
  }

  .cardOverlayTech {
    font-size: 12px;
  }
}
