.cardContainer {
  position: relative;
  height: 250px;
  margin: 0;
  width: 100%;
}

.card, .cardOverlay {
  height: 200px;
  padding: 25px 7%;
  position: absolute;
  width: 86%;
}

.card {
  opacity: 1;
}

.card:hover {
  opacity: 0;
}

.card h2 {
  color: white;
  margin: 0;
  text-transform: uppercase;
  width: 100%;
}

.secondaryProjectCardCont h2 {
  font-size: 24px;
}

.featuredProjectCardCont h2 {
  font-size: 42px;
}

.cardOverlay {
  opacity: 0;
}

.cardOverlay h2 {
  color: white;
  font-size: 28px;
  margin: 84.5px 0;
  text-align: center;
  text-decoration: underline;
}

.cardOverlay:hover {
  background-color: rgba(74, 74, 74, 0.9);
  opacity: 1;
}

.cardOverlayContent {
  color: white;
}

.cardOverlayTitle {
  font-size: 42px;
  margin-bottom: 0;
}

.cardOverlayTagline {
  font-size: 22px;
  margin: 0;
}

.cardOverlayTech {
  position: absolute;
  bottom: 30px;
  font-size: 16px;
  font-weight: bold;
  margin: 0 auto;
  text-align: center;
}

.secondaryProjectCardCont .cardOverlayTech {
  bottom: 25px;
}

.cardOverlayDesc {
  font-size: 16px;
  margin-top: 0;
}

.jsDatesBg {
  background: #56ab2f;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #a8e063, #56ab2f);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.beltbookBg {
  background: #DA22FF;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #9733EE, #DA22FF);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #9733EE, #DA22FF);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.secondaryBg {
  background: #0052D4;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #0052D4, #658cf7);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #0052D4, #658cf7);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
