.projects-container {
    width: 100%; 
    display: flex;
    flex-wrap: wrap;
}

.container-day {
    background-color: rgb(110,176,130);
    // background: linear-gradient(90deg, rgba(110,176,130,1) 0%, rgba(110,176,130,1) 0%, rgba(220,199,157,1) 100%, rgba(4,118,193,1) 100%, rgba(0,212,255,1) 100%);
}
.container-night {
    background-color: rgb(102, 102, 102);
    // background: linear-gradient(90deg, rgba(110,176,130,1) 0%, rgba(110,176,130,1) 0%, rgba(220,199,157,1) 100%, rgba(4,118,193,1) 100%, rgba(0,212,255,1) 100%);
}
