@use '../colors' as c;

// All screen sizes

nav { 
    height: 64px; 

    // fadein
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s; /* Firefox < 16 */
    -ms-animation: fadein 1s; /* Internet Explorer */
    -o-animation: fadein 1s; /* Opera < 12.1 */
    animation: fadein 1s;
}
.nav-day { background: rgba(74,74,74,1); }
.nav-night { }
.navLogo {
    border-radius: 50%;
    filter: drop-shadow(0 2px 3px rgb(37, 37, 37));
    margin: 7px 0 7px 5%;
    width: 50px;
}
nav i {
    color: white;
    font-size: 32px;
}
#upIcon { transform: rotate(0deg); }
#downIcon { display: none; }
.navBarIcon { 
    position: absolute;
    height: 32px;
    width: 28px;
    top: 16px;
    right: 5%;
    opacity: 1; 
}

.navLinks {
    position: absolute;
    margin: 4px 5%;
    padding: 0;
    width: 90%;
    top: 64px;
}
.navLinks li {
    background: white;
    display: block;
    margin-left: 0;
}
.navLink {
    background: c.$grey-bg;
    border: none;
    color: white;
    font-family: Courier New;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 4px;
    padding: 5px 30px;
    width: 100%;
    transform: rotateX(90deg);
    transform-origin: top;
    // animation: name duration timing-function delay iteration-count direction fill-mode;
}

#navLink1 { 
    animation: turnover .15s ease-out;
    animation-fill-mode: forwards; 
}
#navLink2 { 
    animation: turnover .15s ease-out .15s;
    animation-fill-mode: forwards; 
}
#navLink3 { 
    animation: turnover .15s ease-out .30s;
    animation-fill-mode: forwards; 
}

@keyframes turnover {
    to {
        transform: rotateX(0deg);
    }
}

// .navClose {
//     transform: rotateX(0deg);
//     transform-origin: top;
//     animation: navclose .15s ease-out .30s;
//     animation-fill-mode: forwards; 
// }

// @keyframes navclose {
//     to {
//         transform: rotateX(90deg);
//     }
// }

.navLink:hover {
    border: 2px solid c.$grey-bg;
    background: white;
    color: c.$grey-bg;
}

@media screen and (min-width: 900px) {
    .navBarIcon {  display: none; }
    .navLinks {
        display: inline;
        margin: 0;
        padding: 0;
        top: 16px;
        right: 5%;
        width: initial;
    }
    .navLinks li {
        display: inline;
        top: 0;
        margin-left: 20px;
    }

    .navLink {
        background-color: c.$grey-bg;
        border: 1px solid white;
        color: white;
        margin: 0;
        width: 200px;
        animation: none;
        transform: none;
    }

    #navLink1, #navLink2, #navLink3 { 
        animation: none;
        animation-fill-mode: none; 
    }

    .navLink:hover {
        background: white;
        border: 1px solid c.$grey-bg;
        color: c.$grey-bg;
    }

    .navLinkactive {
        border-left: none;
        border-right: none;
    }
}