@use '../colors' as c;

nav {
    height: 64px;
}

.navLogo {
    border-radius: 50%;
    filter: drop-shadow(0 2px 3px rgb(37, 37, 37));
    margin: 7px 0 7px 5%;
    width: 50px;
}

nav i {
    transform: rotate(90deg);
    color: white;
    font-size: 32px;
}

.navBarIcon {
    position: absolute;
    height: 32px;
    width: 28px;
    top: 16px;
    right: 5%;
    opacity: 0;   
}

#upIcon {
    transform: rotate(0deg);
    // display: none;
}
#downIcon {
    transform: rotate(0deg);
    display: none;
}

.turnDown {
    transform: rotate(-90deg);
}

.navLinks, .navLinks li {
    display: inline;
}

.navLinks {
    margin: 14.5px 5% 14.5px 0;
    float: right;
}

.navLinks li {
    margin-left: 50px;
}

.navLink {
    background-color: c.$grey-bg;
    border: none;
    color: white;
    font-family: Courier New;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 30px;
}

.navLink:hover {
    background-color: white;
    color: c.$grey-bg;
}

.navLinkactive {
    border-bottom: 1px solid white;
}

.nav-day {
    background: rgba(74,74,74,1);
    // background: linear-gradient(90deg, rgba(28,28,28,1) 0%, rgba(74,74,74,1) 100%);
}

.nav-night {

}

// #nav-icon-container {
//     display: inline;
// }
  
//   #hamburger {
//     display: block;
//     margin: 22px 20px 0 0;
//     position: fixed;
//     top: 0;
//     right: 0;
//   }
  
//   #ex-hamburger {
//     display: none;
//     margin: 20px 22px 0 0;
//     position: fixed;
//     top: 0;
//     right: 0;
//   }
  
//   nav {
//     border-radius: 5px 0 0 5px;
//     display: none;
//     padding: 10px;
//     position: fixed;
//     top: 40px;
//     right: 0;
//     width: 90px;
//     background-color: white;
//     opacity: 90%;
//     z-index: 99;
//   }

@media screen and (max-width: 1100px) {
    .navBarIcon {
        opacity: 1;
    }
    .navLinks, .navLinks li {
        display: block;
    }
    .navLinks {
        margin: 0;
        margin-top: 64px;
    }
    .navLinks li {
        margin-left: 0;
    }
    .navLink {
        background-color: black;
        border: none;
        color: white;
        font-family: Courier New;
        font-size: 18px;
        font-weight: bold;
        padding: 5px 30px;
        width: 280px;
    }
}