nav {
    background: rgb(110,176,130);
    background: linear-gradient(90deg, rgba(110,176,130,1) 0%, rgba(28,28,28,1) 0%, rgba(74,74,74,1) 100%, rgba(4,118,193,1) 100%, rgba(0,212,255,1) 100%);
    height: 64px;
}

.navLogo {
    border-radius: 50%;
    filter: drop-shadow(0 3px 5px rgb(43, 43, 43));
    margin: 7px 0 7px 5%;
    width: 50px;
}

.navLinks, .navLinks li {
    display: inline;
}

.navLinks {
    margin: 23px 5% 23px 0;
    float: right;
}

.navLinks li {
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-left: 50px;
}