.pensContainer { 
    margin: 10px 0 30px 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, 100%);
    // grid-auto-rows: 400px;
    // column-gap: 5%;
    row-gap: 20px;
    // border: 1px solid rgb(196, 196, 196);
    // margin: 20px auto;
    // width: 90%; 
}
  
// @media screen and (max-width: 285px) { }
// @media screen and (max-width: 330px) { }
// @media screen and (min-width: 445px) { }
// @media screen and (min-width: 600px) { }
// @media screen and (min-width: 720px) { }
// @media screen and (min-width: 900px) { }

@media screen and (min-width: 1024px) {
    .pensContainer { 
        margin-bottom: 60px;
        grid-template-columns: repeat(auto-fill, 47.5%);
        column-gap: 5%;
        row-gap: 4%;
    }
}

// @media screen and (min-width: 1024px) { }
// @media screen and (min-width: 1300px) { }
// @media screen and (min-width: 1550px) { }
