.skillBarContainer h3, .skillBarContainer p {
    display: inline;
    margin: 0;
}

.skillBarContainer p {
    padding-left: 5px;
}

.skillBarContainer div {
    background: #ec008c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #fc6767, #ec008c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #fc6767, #ec008c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 10px;
    margin: 5px 0 10px 0;
    animation: animate 2s ease-out 1;
}

@keyframes animate {
    from {
        width: 15%;
    }
}
